[Unit]
Description=SafarSetu Celery Background Worker Service
After=network.target redis.service postgresql.service

[Service]
User=rakesh
Group=rakesh
WorkingDirectory=/home/rakesh/SafarSetu
Environment="PATH=/home/rakesh/SafarSetu/.venv/bin"
EnvironmentFile=/home/rakesh/SafarSetu/.env
ExecStart=/home/rakesh/SafarSetu/.venv/bin/celery -A safarsetu worker -l INFO -Q default,sos -c 4
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
